<section id="sidenav">
  <div  class="sidenav" [style.display]=" isOpen ? 'inline-block' : 'none' ">
      <button id="close" *ngIf="isOpen" (click)="closeNav()" class="menu-button-inside">
        <i class="icon-circle-arrow-left"  ></i>
      </button>
  
      <br>
      <ul class="menu-list">
        <li *ngFor="let menu of menus">
            <a href="#" class="menu-list-item" >{{menu.viewContent}}</a>
        </li>
      </ul>
  </div>
  <button id="open" *ngIf="!isOpen" (click)="openNav()" class="menu-button"> 
    <i class="icon-th-large"  ></i>
  </button>
</section>

<section id="content">
  
</section>